<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="passCode" value="1" />
  <!--<add key="cacheType" value="2"/>
  <add key="cacheReadHosts" value="127.0.0.1:11211"  />
  <add key="cacheWriteHosts" value="" />-->
  <add key="cacheType" value="0"/>
  <add key="cacheReadHosts" value="192.168.201.132:6379,127.0.0.1:6379"  />
  <add key="cacheWriteHosts" value="192.168.201.132:6379" />
  <!--正式日志文件-->
  <!--<add key="logPath" value="\\172.16.100.40\d$\log\api8\log.txt"/>-->
  <!--测试日志文件--> 
  <add key="logPath" value="\\192.168.201.132\log\log.txt"/>
   
  <!--短信配置Begin-->
  <add key="SMSDefaultApp" value="5,,9900-AABB"/>
  <add key="SMSAskApp" value="6,u,9900-AADD"/>
  <add key="SMSReMobile" value="106900292678"/>
  <add key="SMSUcarSignName" value=""/>
  <!--短信配置End-->
  <!--卖家APP版本配置Begin-->
  <add key="version" value="1.0"/>
  <add key="updateInfo" value="卖家版APP,评估师调度系统"/>
  <add key="updateTitle" value="测车更方便"/>
  <add key="size" value="5M"/>
  <!--卖家APP版本配置End-->
  <add key="IsTest" value="true"/>
  <add key="testUser" value="pgdiaodu_400,pgdiaodu,ff005,uxin_mengb,ff001,ff002,ff004,ff003,ff006,ff007,ff008,ff009,ff010,mjcs12,mjcs11,mjcs1,mjcs,fang02,maijia3,mai01,mjcs2,mjcs3,mjcs4,mjcszh2,mjcszh3,mjcszh4"/>

  <add key="ActiveImg" value="http://img3.youxinpai.com/car/201604/1510/57105896bc693219671.jpg"/>
  <add key="Condition" value="http://img3.youxinpai.com/car/201604/1511/57105cf5cbb51302916.htm"/>
</appSettings>