<connectionStrings>
  <!--测试-->

  <add name="SqlMapConfigPath" connectionString="Data Source=192.168.200.51;Initial Catalog=YXchefang;User Id=Uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
  <add name="ApiLogConfigPath" connectionString="Data Source=192.168.200.51;Initial Catalog=ApiLog;User Id=Uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathWrite"  connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathRead"   connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
  <add name="AutosCarRead"  connectionString="server=192.168.200.51;uid=uxintest;pwd=123456;database=iAutosResource_120;max pool size=512;min pool size=5" providerName="System.Data.SqlClient"/>
  <add name="UcarRead" connectionString="Data Source=192.168.200.51;Initial Catalog=UcarCommon;User ID=uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
  <add name="OPFramework" connectionString="server=192.168.200.51;database=OPFramework;uid=uxintest;pwd=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="StandardSale" connectionString="server=192.168.200.51;database=StandardSaleEdition;uid=uxintest;pwd=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="MySqlTest" connectionString="server=localhost; user id=root; password=x5; database=test; pooling=false;" providerName="MySql.Data.MySqlClient"/>
  <add name="TranstarAuction2011ConfigPath"   connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />

  <!--正式-->
  <!--<add name="SqlMapConfigPath" connectionString="Data Source=127.0.0.1;Initial Catalog=YXchefang;User Id=yxchefang;Password=uxin.cf3@1;" providerName="System.Data.SqlClient" />
  <add name="ApiLogConfigPath" connectionString="Data Source=127.0.0.1;Initial Catalog=ApiLog;User Id=yxchefang;Password=uxin.cf3@1;" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathRead"   connectionString="server=172.16.101.65;database=TranstarAuction2011;user id=haotao;password=ht.y3q7;Connect Timeout=500;connection timeout=50;" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathWrite"  connectionString="server=172.16.100.52;database=TranstarAuction2011;Integrated Security=SSPI;Max Pool Size=512;Min Pool Size=5;Connect Timeout=500;connection timeout=50;" providerName="System.Data.SqlClient" />
  <add name="AutosCarRead" connectionString="server=172.16.101.65;database=iAutosResource;uid=haotao;pwd=ht.y3q7;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="UcarRead" connectionString="server=172.16.101.65;database=UcarCommon;uid=haotao;pwd=ht.y3q7;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="OPFramework" connectionString="server=172.16.101.65;database=OPFramework;uid=haotao;pwd=ht.y3q7;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="StandardSale" connectionString="server=172.16.100.59;database=StandardSaleEdition;Integrated Security=SSPI;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>
  <add name="MySqlTest" connectionString="server=localhost; user id=root; password=x5; database=test; pooling=false;" providerName="MySql.Data.MySqlClient"/>-->
  

</connectionStrings>