<header class="aui-bar aui-bar-nav sales-header">
    <a class="aui-pull-left"  onclick="window.location.href = '/Home/Index'">
        <span class="iconfont icon-fanhui"></span>
    </a>
    <div class="aui-title">我的车辆</div>
    @*<a class="aui-pull-right  quit">
        <span class="iconfont icon-tuichu"></span>
    </a>*@
</header>
@*<div class="user-info-box">
    <div class="user-header aui-pull-left">
        <img src="http://img.youxinpai.com/sales_cowry/images/tx.png" alt="">
    </div>
    <div class="aui-pull-left user-info-name">
        <div class="name">
            Hi：@(YXP.KPSales.Controllers.WebBaseController.loginUser.RealName)
        </div>
        <div class="name">
            TX资金池：<span id="CurrActiveTXFund">@(YXP.KPSales.Controllers.WebBaseController.salesTXFund == null ? 0 :Convert.ToInt32((YXP.KPSales.Controllers.WebBaseController.salesTXFund.CurrActiveTXFund * 10000)))</span>元
        </div>
    </div>
</div>*@
