<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MobileMessagingServicesSoap" />
                <binding name="DetectReportSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://service.youxinpai.com/MobileMessagingServices.asmx"
                binding="basicHttpBinding" bindingConfiguration="MobileMessagingServicesSoap"
                contract="MobileMessaging.MobileMessagingServicesSoap" name="MobileMessagingServicesSoap" />
            <endpoint address="http://test.checkauto.com.cn/API/DetectReport.asmx"
                binding="basicHttpBinding" bindingConfiguration="DetectReportSoap"
                contract="CarDetect.DetectReportSoap" name="DetectReportSoap" />
        </client>
    </system.serviceModel>
</configuration>