<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="apiWebsite" value="http://localhost:45099/" />
  </appSettings>
  <connectionStrings>
 
    <add name="SqlMapConfigPath" connectionString="Data Source=192.168.200.51;Initial Catalog=YXchefang;User Id=Uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
    <add name="ApiLogConfigPath" connectionString="Data Source=192.168.200.51;Initial Catalog=ApiLog;User Id=Uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
    <add name="TranstarAuctionConfigPathWrite" connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
    <add name="TranstarAuctionConfigPathRead" connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
    <add name="AutosCarRead" connectionString="server=192.168.200.51;uid=uxintest;pwd=123456;database=iAutosResource_120;max pool size=512;min pool size=5" />
    <add name="UcarRead" connectionString="Data Source=192.168.200.51;Initial Catalog=UcarCommon;User ID=uxintest;Password=123456;max pool size=512;min pool size=5" providerName="System.Data.SqlClient" />
    <add name="MySqlTest" connectionString="server=localhost; user id=root; password=x5; database=test; pooling=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>