<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--交易地址控制  marketConfig  1为显示所有数据  2只显示正式数据-->
  <add key="marketConfig" value="2"/>

  <!--测试用户控制  “|”分割-->
  <add key="testUser" value="linlin|luying|wangquan|jianglili|liuyueyang|huchengfei"/>

  <!--php使用地址判断 1为正式 0为测试-->
  <add key="IsFormalEnvironment" value="0"/>
  <!--接口地址-->
  <add key="apiWebsite" value="http://111.200.229.224:8081/"/>
  <!--线上接口地址-->
  <!--<add key="apiWebsite" value="http://api8.youxinpai.com/"/>-->
  <!--查看报告地址-->
  <add key="ReportViewUrl" value="http://192.168.200.31:8070/"/>
  <!--线上查看报告地址-->
  <!--<add key="ReportViewUrl" value="http://dailiren.youxinpai.com/"/>-->
  <!--车易拍接口地址-->
  <add key="CYPUrl" value="http://linux-local2.bd.uxdata.cn/"/>
  <!--正式日志文件-->
  <!--<add key="logPath" value="\\172.16.100.40\d$\log\zjhhl\log.txt"/>-->
  <!--测试日志文件-->
  <add key="logPath" value="c:\Log\KPSaleslog.txt"/>
  <!--城市限制-->
  <add key="cityLimit" value="-1"/>
  <!--清除快拍缓存地址-->
  <add key="apiClearCache" value="http://i.youxinpai.com/AjaxObjectPage/ClearM.ashx"/>
  <!--缓存服务器 cacheType =1 redis  -->
  <add key="cacheType" value="1"/>
  <add key="cacheReadHosts" value="192.168.201.150:6379"  />
  <add key="cacheWriteHosts" value="192.168.201.150:6379" />
  <!--<add key="cacheReadHosts" value="127.0.0.1:6379"  />
  <add key="cacheWriteHosts" value="127.0.0.1:6379" />-->
</appSettings>