<BitAuto.Utils.CommonPlatformConfig>
    <CommonConfig>
      <Authoriaztion  implClassName="" remotingUrl="" defaultNetTiersProviderName="SqlNetTiersProvider"/>
        <SQLSecurityConfig Enabled="true" Keychars="'|;|(|)"  Keywords="select|insert|update|delete|drop|truncate|declare|xp_cmdshell|/add|net user|exec|execute|cast|xp_|sp_|0x" IgnorePostInputs ="__VIEWSTATE|__EVENT\S*|\S*btn\S*|\S*Button\S*|\S*radiobutton\S*|\S*checkbox\S*|__PREVIOUSPAGE|__LASTFOCUS">
            <SpecialPages>
                <add PageUrl="~/\S*error.aspx" Enabled ="false" ></add>
                <add PageUrl="~/\S*ErrorMsg.aspx" Enabled ="false" ></add>
                <add PageUrl="~/\S*.jpg" Enabled ="false"></add>
                <add PageUrl="~/\S*.js" Enabled ="false"></add>
                <add PageUrl="~/\S*WebResource.axd" Enabled ="false"></add>
            </SpecialPages>
        </SQLSecurityConfig>
    </CommonConfig>
    <CommonConfigs>
        <add name="TranstarServices">
            <Authoriaztion  implClassName="" remotingUrl="" defaultNetTiersProviderName="TranstarSqlNetTiersProvider"/>
        </add>
    </CommonConfigs>
</BitAuto.Utils.CommonPlatformConfig>