<?xml version="1.0"?>
<CommonConfigSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OPSysId>1</OPSysId>
  <YouXinPaiSysId>2</YouXinPaiSysId>
  <OPDBConnectionStr>data source=192.168.200.51;database=OPFramework;uid=uxintest;pwd=123456;</OPDBConnectionStr>
  <YXPDBConnectionStr>server=192.168.200.51;uid=uxintest;pwd=123456;database=Transtar2007_120;Connect Timeout=500</YXPDBConnectionStr>
  <DomainName>192.168.200.250</DomainName>
  <YXP_CACHE_PREFIX>YXP</YXP_CACHE_PREFIX>
  <OP_NoRightPagePath>~/Home/NoRight</OP_NoRightPagePath>
  <OP_ErrorPagePath></OP_ErrorPagePath>
  <OP_ErrorLogPath>loginerror</OP_ErrorLogPath>
  <EnableTrace>true</EnableTrace>
  <DomainUserName>OPWeb</DomainUserName>
  <DomainPwd>123.abc</DomainPwd>
</CommonConfigSetting>