<connectionStrings>
  <!--测试-->


  <add name="TranstarAuctionConfigPathWrite"  connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathRead"   connectionString="Data Source=192.168.200.51;Initial Catalog=TranstarAuction2011_120db;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient" />
  <add name="OPFramework" connectionString="Data Source=192.168.200.51;Initial Catalog=OPFramework;User Id=Uxintest;Password=123456;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>


 
  <!--<add name="TranstarAuctionConfigPathRead"   connectionString="data source=172.16.101.65;database=TranstarAuction2011;user id=haotao;password=ht.y3q7;Connect Timeout=500;connection timeout=50;" providerName="System.Data.SqlClient" />
  <add name="TranstarAuctionConfigPathWrite"  connectionString="server=172.16.100.52;database=TranstarAuction2011;Integrated Security=SSPI;Max Pool Size=512;Min Pool Size=5;Connect Timeout=500;connection timeout=50;" providerName="System.Data.SqlClient" />
  <add name="OPFramework" connectionString="server=172.16.100.52;database=OPFramework;Integrated Security=SSPI;Max Pool Size=512; Min Pool Size=5" providerName="System.Data.SqlClient"/>-->

</connectionStrings>